/*
    задание по css: у блока 200х200px реализовать
    анимированный бордер(в рекурсии). направление по часовой.
    При наведении. использовать только css/scss/sass. Залить в гитлаб
*/

body{
  margin: 0;
}

.main{
  background: black;
  width: 100%;
  height: 100vh;
}
.main__element{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: darkslategrey;
  transform: translate(-50%,-50%);
  overflow:hidden;
}
.main__element span:nth-child(1)
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ffffff;
  animation: animate1 3s linear infinite;
  animation-direction: alternate-reverse;
}
@keyframes animate1
{
  0%
  {
    transform:translateX(100%);

  }
  100%
  {
    transform:translateX(-100%);

  }
}
.main__element span:nth-child(2)
{
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: white;
  animation: animate2 3s linear infinite;
  animation-direction: alternate-reverse;
}
@keyframes animate2
{
  0%
  {
    transform:translateY(100%);
  }
  100%
  {
    transform:translateY(-100%);
  }
}
.main__element span:nth-child(3)
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ffffff;
  animation: animate3 3s linear infinite;
  animation-direction: alternate-reverse;
}
@keyframes animate3
{
  0%
  {
    transform:translateX(-100%);

  }
  100%
  {
    transform:translateX(100%);

  }
}
.main__element span:nth-child(4)
{
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: #ffffff;
  animation: animate4 3s linear infinite;
  animation-direction: alternate-reverse;
}
@keyframes animate4
{
  0%
  {
    transform:translateY(-100%);

  }
  100%
  {
    transform:translateY(100%);
  }
}