/*
    задание по css: у блока 200х200px реализовать
    анимированный бордер(в рекурсии). направление по часовой.
    При наведении. использовать только css/scss/sass. Залить в гитлаб
*/

body{
  margin: 0;
}
.main{
  background: #ffffff;
  width: 100%;
  height: 100vh;
}
.main__body{
  width: 50%;
  padding-top: 250px;
  margin: 0 auto;
}
.main__element{
  margin: 0 auto;
  height: 200px;
  width: 200px;
  background: #00ffaf;
  animation: animation1 3s reverse infinite;
}

@keyframes animation1 {
  0% {
    box-shadow: -204px -202px 0 2px white, -202px 204px 0 2px white, 204px 202px 0 2px white, 202px -204px 0 2px white, 0px 0px 0 2px #004dff;
  }
  25% {
    box-shadow: -204px -202px 0 2px white, -202px 204px 0 2px white, 204px 202px 0 2px white, 202px 0px 0 2px white, 0px 0px 0 2px #004dff;
  }
  50% {
    box-shadow: -204px -202px 0 2px white, -202px 204px 0 2px white, 0px 202px 0 2px white, 202px 0px 0 2px white, 0px 0px 0 2px #004dff;
  }
  75% {
    box-shadow: -204px -202px 0 2px white, -202px 0px 0 2px white, 0px 202px 0 2px white, 202px 0px 0 2px white, 0px 0px 0 2px #004dff;
  }
  100% {
    box-shadow: 0px -202px 0 2px white, -202px 0px 0 2px white, 0px 202px 0 2px white, 202px 0px 0 2px white, 0px 0px 0 2px #004dff;
  }
}
